# Data Analysis
The notebook focuses on connecting to GCP to access the data from the bucket.

To make the connection, we use a [GCP service account ](https://cloud.google.com/iam/docs/service-account-overview)that holds permissions to access our bucket.
### Steps
1. Access Service accounts in the GCP account
2. Open `deng-capstone-service-account`
3. Create a new key file and download it locally for access in the next step. Rename file to a concise name.
4. Set path of the key file as option in your spark configuration -    `spark._jsc.hadoopConfiguration().set("google.cloud.auth.service.account.json.keyfile","/path/to/file/<renamed>.json")`

### Resources
1. https://gobiviswa.medium.com/google-cloud-storage-handson-connecting-using-pyspark-5eefc0d8d932
2. https://cloud.google.com/iam/docs/service-account-overview

## Spark Application setup

In [28]:
from datetime import datetime, timedelta

from pyspark import SparkConf
from pyspark.sql import SparkSession


spark = SparkSession.builder \
    .appName('data-engineering-capstone') \
    .config("spark.jars", "https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop3-latest.jar") \
    .config("spark.sql.repl.eagerEval.enabled", True) \
    .getOrCreate()

# Set GCS credentials. Ensure path points to you downloaded key file
spark._jsc.hadoopConfiguration().set(
    "google.cloud.auth.service.account.json.keyfile",
    "C:\pro\gcp-key.json")

## Read from GCS

In [29]:
# file path to data in GCS bucket

file_path = "gs://ecommerce-customer/e-commerce-customer-behavior.csv"


df = spark.read.csv(file_path, header=True, inferSchema=True)

df.show(5)

+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+
|Customer ID|Gender|Age|         City|Membership Type|Total Spend|Items Purchased|Average Rating|Discount Applied|Days Since Last Purchase|Satisfaction Level|
+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+
|        101|Female| 29|     New York|           Gold|     1120.2|             14|           4.6|            true|                      25|         Satisfied|
|        102|  Male| 34|  Los Angeles|         Silver|      780.5|             11|           4.1|           false|                      18|           Neutral|
|        103|Female| 43|      Chicago|         Bronze|     510.75|              9|           3.4|            true|                      42|       Unsatisfied|
|        104|  Male| 30|San Francisco|           Gold|     1480.3|             19|           4.7|           false|                      12|         Satisfied|
|        105|  Male| 27|        Miami|         Silver|      720.4|             13|           4.0|            true|                      55|       Unsatisfied|
+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+
only showing top 5 rows

In [30]:
# Describe the dataset
df.describe().show()

+-------+------------------+------+------------------+-------------+---------------+-----------------+-----------------+------------------+------------------------+------------------+
|summary|       Customer ID|Gender|               Age|         City|Membership Type|      Total Spend|  Items Purchased|    Average Rating|Days Since Last Purchase|Satisfaction Level|
+-------+------------------+------+------------------+-------------+---------------+-----------------+-----------------+------------------+------------------------+------------------+
|  count|               350|   350|               350|          350|            350|              350|              350|               350|                     350|               348|
|   mean|             275.5|  NULL|33.597142857142856|         NULL|           NULL|845.3817142857134|             12.6| 4.019142857142849|      26.588571428571427|              NULL|
| stddev|101.18053172424031|  NULL| 4.870882183548376|         NULL|           NULL|362.0586953474656|4.155984396472746|0.5805385871469686|      13.440813085749618|              NULL|
|    min|               101|Female|                26|      Chicago|         Bronze|            410.8|                7|               3.0|                       9|           Neutral|
|    max|               450|  Male|                43|San Francisco|         Silver|           1520.1|               21|               4.9|                      63|       Unsatisfied|
+-------+------------------+------+------------------+-------------+---------------+-----------------+-----------------+------------------+------------------------+------------------+

In [31]:
# Drop all rows that contain any null values in any column
df = df.dropna()

In [32]:
# Remove duplicate rows from the DataFrame
df = df.dropDuplicates()

In [33]:
# Display summary statistics of the DataFrame (count, mean, stddev, min, max) for numerical columns
df.describe().show()

+-------+------------------+------+------------------+-------------+---------------+-----------------+------------------+------------------+------------------------+------------------+
|summary|       Customer ID|Gender|               Age|         City|Membership Type|      Total Spend|   Items Purchased|    Average Rating|Days Since Last Purchase|Satisfaction Level|
+-------+------------------+------+------------------+-------------+---------------+-----------------+------------------+------------------+------------------------+------------------+
|  count|               348|   348|               348|          348|            348|              348|               348|               348|                     348|               348|
|   mean|275.88793103448273|  NULL|33.577586206896555|         NULL|           NULL|847.7931034482757|12.632183908045977| 4.023563218390801|      26.614942528735632|              NULL|
| stddev|101.30461140521022|  NULL|4.8780237566708236|         NULL|           NULL|361.6923754153085| 4.146078853153938|0.5791447077662925|      13.474749819778523|              NULL|
|    min|               101|Female|                26|      Chicago|         Bronze|            410.8|                 7|               3.0|                       9|           Neutral|
|    max|               450|  Male|                43|San Francisco|         Silver|           1520.1|                21|               4.9|                      63|       Unsatisfied|
+-------+------------------+------+------------------+-------------+---------------+-----------------+------------------+------------------+------------------------+------------------+

In [34]:
# Segmentation based on spending habits, demographics, loyalty, and satisfaction
from pyspark.sql.functions import when

segmentation_df = df.withColumn("SpendingCategory", 
                                when(df["Total Spend"] > 1000, "High")
                                .when(df["Total Spend"] > 500, "Medium")
                                .otherwise("Low"))

segmentation_df.show()

+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
|Customer ID|Gender|Age|         City|Membership Type|Total Spend|Items Purchased|Average Rating|Discount Applied|Days Since Last Purchase|Satisfaction Level|SpendingCategory|
+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
|        251|Female| 30|     New York|           Gold|     1180.8|             16|           4.7|            true|                      19|         Satisfied|            High|
|        151|Female| 43|      Chicago|         Bronze|     505.75|             10|           3.3|            true|                      39|       Unsatisfied|          Medium|
|        324|Female| 43|      Chicago|         Bronze|     505.75|             10|           3.3|            true|                      39|       Unsatisfied|          Medium|
|        144|  Male| 35|  Los Angeles|         Silver|      820.9|             12|           4.3|           false|                      12|           Neutral|          Medium|
|        385|  Male| 28|San Francisco|           Gold|     1490.1|             21|           4.9|           false|                      10|         Satisfied|            High|
|        166|Female| 38|      Houston|         Bronze|      440.9|              8|           3.2|           false|                      24|           Neutral|             Low|
|        227|Female| 32|     New York|           Gold|     1160.3|             14|           4.4|            true|                      22|         Satisfied|            High|
|        235|Female| 41|      Chicago|         Bronze|     480.25|              9|           3.6|            true|                      38|       Unsatisfied|             Low|
|        276|  Male| 35|  Los Angeles|         Silver|      820.9|             12|           4.3|           false|                      12|           Neutral|          Medium|
|        229|Female| 43|      Chicago|         Bronze|     500.75|             10|           3.3|            true|                      40|       Unsatisfied|          Medium|
|        417|Female| 37|      Houston|         Bronze|      450.8|              7|           3.4|           false|                      30|           Neutral|             Low|
|        164|  Male| 29|San Francisco|           Gold|     1370.2|             18|           4.7|           false|                      10|         Satisfied|            High|
|        383|  Male| 35|  Los Angeles|         Silver|      820.9|             12|           4.3|           false|                      15|           Neutral|          Medium|
|        370|Female| 31|     New York|           Gold|     1140.6|             15|           4.5|            true|                      30|         Satisfied|            High|
|        371|  Male| 35|  Los Angeles|         Silver|      800.9|             12|           4.1|           false|                      17|           Neutral|          Medium|
|        401|  Male| 33|  Los Angeles|         Silver|      800.2|             11|           4.1|           false|                      18|           Neutral|          Medium|
|        321|Female| 36|      Houston|         Bronze|      470.5|              8|           3.0|           false|                      18|           Neutral|             Low|
|        269|Female| 32|     New York|           Gold|     1160.3|             14|           4.4|            true|                      22|         Satisfied|            High|
|        275|Female| 31|     New York|           Gold|     1140.6|             15|           4.5|            true|                      27|         Satisfied|            High|
|        427|  Male| 30|San Francisco|           Gold|     1450.5|             19|           4.6|           false|                      14|         Satisfied|            High|
+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
only showing top 20 rows

In [35]:
from pyspark.sql.functions import current_date, datediff

# Identify inactive customers (no purchase in the last 30 days)
inactive_customers = segmentation_df.filter((segmentation_df["Days Since Last Purchase"]) > 30)

# Identify recent customers (purchased within the last 7 days)
recent_customers = segmentation_df.filter((segmentation_df["Days Since Last Purchase"]) <= 30)

In [36]:
# Display the content of the 'inactive_customers' DataFrame
inactive_customers.show()

+-----------+------+---+--------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
|Customer ID|Gender|Age|    City|Membership Type|Total Spend|Items Purchased|Average Rating|Discount Applied|Days Since Last Purchase|Satisfaction Level|SpendingCategory|
+-----------+------+---+--------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
|        151|Female| 43| Chicago|         Bronze|     505.75|             10|           3.3|            true|                      39|       Unsatisfied|          Medium|
|        324|Female| 43| Chicago|         Bronze|     505.75|             10|           3.3|            true|                      39|       Unsatisfied|          Medium|
|        235|Female| 41| Chicago|         Bronze|     480.25|              9|           3.6|            true|                      38|       Unsatisfied|             Low|
|        229|Female| 43| Chicago|         Bronze|     500.75|             10|           3.3|            true|                      40|       Unsatisfied|          Medium|
|        199|Female| 43| Chicago|         Bronze|     500.75|             10|           3.3|            true|                      40|       Unsatisfied|          Medium|
|        382|Female| 31|New York|           Gold|     1160.6|             15|           4.5|            true|                      31|         Satisfied|            High|
|        153|  Male| 27|   Miami|         Silver|      710.4|             13|           4.1|            true|                      54|       Unsatisfied|          Medium|
|        414|Female| 43| Chicago|         Bronze|     505.75|             10|           3.3|            true|                      46|       Unsatisfied|          Medium|
|        416|  Male| 27|   Miami|         Silver|      710.4|             13|           4.1|            true|                      61|       Unsatisfied|          Medium|
|        121|Female| 43| Chicago|         Bronze|     505.75|             10|           3.3|            true|                      41|       Unsatisfied|          Medium|
|        338|  Male| 26|   Miami|         Silver|      690.6|             12|           3.9|            true|                      47|       Unsatisfied|          Medium|
|        189|  Male| 32|   Miami|         Silver|      670.3|             10|           3.8|            true|                      33|       Unsatisfied|          Medium|
|        195|  Male| 26|   Miami|         Silver|      690.6|             12|           3.9|            true|                      47|       Unsatisfied|          Medium|
|        201|  Male| 27|   Miami|         Silver|      700.4|             13|           4.0|            true|                      53|       Unsatisfied|          Medium|
|        380|  Male| 27|   Miami|         Silver|      710.4|             13|           4.1|            true|                      58|       Unsatisfied|          Medium|
|        398|  Male| 32|   Miami|         Silver|      660.3|             10|           3.8|            true|                      38|       Unsatisfied|          Medium|
|        213|  Male| 27|   Miami|         Silver|      710.4|             13|           4.1|            true|                      54|       Unsatisfied|          Medium|
|        360|Female| 41| Chicago|         Bronze|     495.25|              9|           3.6|            true|                      41|       Unsatisfied|             Low|
|        139|Female| 43| Chicago|         Bronze|     500.75|             10|           3.3|            true|                      40|       Unsatisfied|          Medium|
|        277|Female| 41| Chicago|         Bronze|     480.25|              9|           3.6|            true|                      38|       Unsatisfied|             Low|
+-----------+------+---+--------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
only showing top 20 rows

In [37]:
# Display the content of the 'recent_customers' DataFrame
recent_customers.show()

+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
|Customer ID|Gender|Age|         City|Membership Type|Total Spend|Items Purchased|Average Rating|Discount Applied|Days Since Last Purchase|Satisfaction Level|SpendingCategory|
+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
|        251|Female| 30|     New York|           Gold|     1180.8|             16|           4.7|            true|                      19|         Satisfied|            High|
|        144|  Male| 35|  Los Angeles|         Silver|      820.9|             12|           4.3|           false|                      12|           Neutral|          Medium|
|        385|  Male| 28|San Francisco|           Gold|     1490.1|             21|           4.9|           false|                      10|         Satisfied|            High|
|        166|Female| 38|      Houston|         Bronze|      440.9|              8|           3.2|           false|                      24|           Neutral|             Low|
|        227|Female| 32|     New York|           Gold|     1160.3|             14|           4.4|            true|                      22|         Satisfied|            High|
|        276|  Male| 35|  Los Angeles|         Silver|      820.9|             12|           4.3|           false|                      12|           Neutral|          Medium|
|        417|Female| 37|      Houston|         Bronze|      450.8|              7|           3.4|           false|                      30|           Neutral|             Low|
|        164|  Male| 29|San Francisco|           Gold|     1370.2|             18|           4.7|           false|                      10|         Satisfied|            High|
|        383|  Male| 35|  Los Angeles|         Silver|      820.9|             12|           4.3|           false|                      15|           Neutral|          Medium|
|        370|Female| 31|     New York|           Gold|     1140.6|             15|           4.5|            true|                      30|         Satisfied|            High|
|        371|  Male| 35|  Los Angeles|         Silver|      800.9|             12|           4.1|           false|                      17|           Neutral|          Medium|
|        401|  Male| 33|  Los Angeles|         Silver|      800.2|             11|           4.1|           false|                      18|           Neutral|          Medium|
|        321|Female| 36|      Houston|         Bronze|      470.5|              8|           3.0|           false|                      18|           Neutral|             Low|
|        269|Female| 32|     New York|           Gold|     1160.3|             14|           4.4|            true|                      22|         Satisfied|            High|
|        275|Female| 31|     New York|           Gold|     1140.6|             15|           4.5|            true|                      27|         Satisfied|            High|
|        427|  Male| 30|San Francisco|           Gold|     1450.5|             19|           4.6|           false|                      14|         Satisfied|            High|
|        395|  Male| 35|  Los Angeles|         Silver|      800.9|             12|           4.1|           false|                      17|           Neutral|          Medium|
|        355|  Male| 30|San Francisco|           Gold|     1440.5|             19|           4.6|           false|                      12|         Satisfied|            High|
|        369|Female| 37|      Houston|         Bronze|      450.8|              7|           3.4|           false|                      24|           Neutral|             Low|
|        359|  Male| 35|  Los Angeles|         Silver|      810.9|             12|           4.3|           false|                      14|           Neutral|          Medium|
+-----------+------+---+-------------+---------------+-----------+---------------+--------------+----------------+------------------------+------------------+----------------+
only showing top 20 rows

In [41]:
from datetime import datetime

# Get current datetime in the format MMDDYYYYHHMMSS
datetime_now = datetime.now().strftime("%m%d%Y%H%M%S")

# Define the base output path using formatted strings
base_output_path = f"gs://ecommerce-customer/output/{datetime_now}"

# Write inactive customers to GCS with overwrite mode
inactive_customers_output_path = f"{base_output_path}/inactive_customers"
inactive_customers.write.csv(inactive_customers_output_path, header=True, mode='overwrite')

# Write recent customers to GCS with overwrite mode
recent_customers_output_path = f"{base_output_path}/recent_customers"
recent_customers.write.csv(recent_customers_output_path, header=True, mode='overwrite')


# Write recent customers to GCS with overwrite mode
customers_output_path = f"gs://ecommerce-customer/customers.csv"
segmentation_df.write.csv(customers_output_path, header=True, mode='overwrite')

In [ ]:

df = segmentation_df
df.show()

In [ ]:
# Spending Behavior Analysis: Plotting Average Spend by Membership Type


import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, mean

# Assuming df is a Spark DataFrame
# Group by 'Membership Type' and calculate the average 'Total Spend'
spend_by_membership = df.groupBy('Membership Type').agg({'Total Spend': 'mean'})

# Convert to Pandas DataFrame for plotting
spend_by_membership_pd = spend_by_membership.toPandas()

# Rename the columns for clarity
spend_by_membership_pd.columns = ['Membership Type', 'Average Total Spend']

# Set the index to 'Membership Type' for easier plotting
spend_by_membership_pd.set_index('Membership Type', inplace=True)

# Plotting
sns.set_theme(style="whitegrid")
plt.figure(figsize=(8, 5))
spend_by_membership_pd.plot(kind='bar', color='teal', legend=False)
plt.title('Average Spend by Membership Type')
plt.xlabel('Membership Type')
plt.ylabel('Average Total Spend')
plt.xticks(rotation=0)
plt.show()

In [ ]:
# Plotting Average Spend by Discount Applied

# Assuming df is a Spark DataFrame
# Group by 'Discount Applied' and calculate the average 'Total Spend'
spend_by_discount = df.groupBy('Discount Applied').agg({'Total Spend': 'mean'})

# Convert to Pandas DataFrame for plotting
spend_by_discount_pd = spend_by_discount.toPandas()

# Rename the columns for clarity
spend_by_discount_pd.columns = ['Discount Applied', 'Average Total Spend']

# Set the index to 'Discount Applied' for easier plotting
spend_by_discount_pd.set_index('Discount Applied', inplace=True)

# Plotting
sns.set_theme(style="whitegrid")
plt.figure(figsize=(8, 5))
spend_by_discount_pd.plot(kind='bar', color='coral', legend=False)
plt.title('Average Spend by Discount Applied')
plt.xlabel('Discount Applied')
plt.ylabel('Average Total Spend')
plt.xticks(rotation=0)
plt.show()

In [ ]:
# Satisfaction Analysis: Satisfaction Level Distribution

# Initialize Spark session (skip if already initialized)
spark = SparkSession.builder.master("local").appName("example").getOrCreate()

# Calculate Satisfaction Level Distribution
satisfaction_distribution = df.groupBy('Satisfaction Level').count()

# Convert to Pandas DataFrame for plotting
satisfaction_distribution_pd = satisfaction_distribution.toPandas()

# Rename columns for clarity
satisfaction_distribution_pd.columns = ['Satisfaction Level', 'Number of Customers']

# Plotting
sns.set_theme(style="whitegrid")
plt.figure(figsize=(8, 5))
satisfaction_distribution_pd.plot(kind='bar', x='Satisfaction Level', y='Number of Customers', color='purple', legend=False)
plt.title('Satisfaction Level Distribution')
plt.xlabel('Satisfaction Level')
plt.ylabel('Number of Customers')
plt.xticks(rotation=0)
plt.show()

In [ ]:
# Churn Prediction Indicators: Average Days Since Last Purchase by Satisfaction Level

# Set the theme for the plots
sns.set_theme(style="whitegrid")

# Calculate Average Days Since Last Purchase by Satisfaction Level
avg_days_since_purchase_spark = (df
    .groupBy('Satisfaction Level')
    .agg(mean('Days Since Last Purchase').alias('Average Days Since Last Purchase'))
    .toPandas()
)

# Plotting
sns.set_theme(style="whitegrid")
plt.figure(figsize=(8, 5))
avg_days_since_purchase_spark.set_index('Satisfaction Level')['Average Days Since Last Purchase'].plot(kind='bar', color='green')
plt.title('Average Days Since Last Purchase by Satisfaction Level')
plt.xlabel('Satisfaction Level')
plt.ylabel('Average Days Since Last Purchase')
plt.xticks(rotation=0)
plt.show()